@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-QO1YKPFT9: 8px;
  --plasmic-token-indicator-size: var(--token-QO1YKPFT9);
  --token-KOTtLJlRx: -4px;
  --plasmic-token-negative: var(--token-KOTtLJlRx);
}

.plasmic_default_styles {
  --mixin-4BGQ9wI3QTtE_font-family: "Inter", sans-serif;
  --mixin-4BGQ9wI3QTtE_font-size: 16px;
  --mixin-4BGQ9wI3QTtE_font-weight: 400;
  --mixin-4BGQ9wI3QTtE_font-style: normal;
  --mixin-4BGQ9wI3QTtE_color: #535353;
  --mixin-4BGQ9wI3QTtE_text-align: left;
  --mixin-4BGQ9wI3QTtE_text-transform: none;
  --mixin-4BGQ9wI3QTtE_line-height: 1.5;
  --mixin-4BGQ9wI3QTtE_letter-spacing: normal;
  --mixin-4BGQ9wI3QTtE_white-space: pre-wrap;
  --mixin-4BGQ9wI3QTtE_user-select: text;
  --mixin-4BGQ9wI3QTtE_text-decoration-line: none;
  --mixin-4BGQ9wI3QTtE_text-overflow: clip;
  --mixin-rxILoCku14-w_color: #000000;
  --mixin-rxILoCku14-w_font-weight: 900;
  --mixin-rxILoCku14-w_font-size: 72px;
  --mixin-rxILoCku14-w_line-height: 1;
  --mixin-rxILoCku14-w_letter-spacing: -4px;
  --mixin-rxILoCku14-w_white-space: pre-wrap;
  --mixin-lNO_6HM2HBXQ_color: #000000;
  --mixin-lNO_6HM2HBXQ_font-size: 48px;
  --mixin-lNO_6HM2HBXQ_font-weight: 700;
  --mixin-lNO_6HM2HBXQ_letter-spacing: -1px;
  --mixin-lNO_6HM2HBXQ_line-height: 1.1;
  --mixin-lNO_6HM2HBXQ_white-space: pre-wrap;
  --mixin-5CCLiyXLA4OR_color: #0070f3;
  --mixin-5CCLiyXLA4OR_white-space: pre-wrap;
  --mixin-kjXEQibJtkgl_color: #000000;
  --mixin-kjXEQibJtkgl_font-size: 32px;
  --mixin-kjXEQibJtkgl_font-weight: 600;
  --mixin-kjXEQibJtkgl_letter-spacing: -0.8px;
  --mixin-kjXEQibJtkgl_line-height: 1.2;
  --mixin-kjXEQibJtkgl_white-space: pre-wrap;
  --mixin-JmWEW0i1FJeW_color: #000000;
  --mixin-JmWEW0i1FJeW_font-size: 24px;
  --mixin-JmWEW0i1FJeW_font-weight: 600;
  --mixin-JmWEW0i1FJeW_letter-spacing: -0.5px;
  --mixin-JmWEW0i1FJeW_line-height: 1.3;
  --mixin-JmWEW0i1FJeW_white-space: pre-wrap;
  --mixin-0rBvWRStTLML_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0rBvWRStTLML_border-bottom-color: #dddddd;
  --mixin-0rBvWRStTLML_border-bottom-style: solid;
  --mixin-0rBvWRStTLML_border-bottom-width: 1px;
  --mixin-0rBvWRStTLML_border-left-color: #dddddd;
  --mixin-0rBvWRStTLML_border-left-style: solid;
  --mixin-0rBvWRStTLML_border-left-width: 1px;
  --mixin-0rBvWRStTLML_border-right-color: #dddddd;
  --mixin-0rBvWRStTLML_border-right-style: solid;
  --mixin-0rBvWRStTLML_border-right-width: 1px;
  --mixin-0rBvWRStTLML_border-top-color: #dddddd;
  --mixin-0rBvWRStTLML_border-top-style: solid;
  --mixin-0rBvWRStTLML_border-top-width: 1px;
  --mixin-0rBvWRStTLML_border-bottom-left-radius: 3px;
  --mixin-0rBvWRStTLML_border-bottom-right-radius: 3px;
  --mixin-0rBvWRStTLML_border-top-left-radius: 3px;
  --mixin-0rBvWRStTLML_border-top-right-radius: 3px;
  --mixin-0rBvWRStTLML_font-family: "Inconsolata";
  --mixin-0rBvWRStTLML_padding-bottom: 1px;
  --mixin-0rBvWRStTLML_padding-left: 4px;
  --mixin-0rBvWRStTLML_padding-right: 4px;
  --mixin-0rBvWRStTLML_padding-top: 1px;
  --mixin-0rBvWRStTLML_white-space: pre-wrap;
  --mixin-5OYihAxQnj1C_border-left-color: #dddddd;
  --mixin-5OYihAxQnj1C_border-left-style: solid;
  --mixin-5OYihAxQnj1C_border-left-width: 3px;
  --mixin-5OYihAxQnj1C_color: #888888;
  --mixin-5OYihAxQnj1C_padding-left: 10px;
  --mixin-5OYihAxQnj1C_white-space: pre-wrap;
  --mixin-pB2Ojj9em3b5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pB2Ojj9em3b5_border-bottom-color: #dddddd;
  --mixin-pB2Ojj9em3b5_border-bottom-style: solid;
  --mixin-pB2Ojj9em3b5_border-bottom-width: 1px;
  --mixin-pB2Ojj9em3b5_border-left-color: #dddddd;
  --mixin-pB2Ojj9em3b5_border-left-style: solid;
  --mixin-pB2Ojj9em3b5_border-left-width: 1px;
  --mixin-pB2Ojj9em3b5_border-right-color: #dddddd;
  --mixin-pB2Ojj9em3b5_border-right-style: solid;
  --mixin-pB2Ojj9em3b5_border-right-width: 1px;
  --mixin-pB2Ojj9em3b5_border-top-color: #dddddd;
  --mixin-pB2Ojj9em3b5_border-top-style: solid;
  --mixin-pB2Ojj9em3b5_border-top-width: 1px;
  --mixin-pB2Ojj9em3b5_border-bottom-left-radius: 3px;
  --mixin-pB2Ojj9em3b5_border-bottom-right-radius: 3px;
  --mixin-pB2Ojj9em3b5_border-top-left-radius: 3px;
  --mixin-pB2Ojj9em3b5_border-top-right-radius: 3px;
  --mixin-pB2Ojj9em3b5_font-family: "Inconsolata";
  --mixin-pB2Ojj9em3b5_padding-bottom: 3px;
  --mixin-pB2Ojj9em3b5_padding-left: 6px;
  --mixin-pB2Ojj9em3b5_padding-right: 6px;
  --mixin-pB2Ojj9em3b5_padding-top: 3px;
  --mixin-pB2Ojj9em3b5_white-space: pre-wrap;
  --mixin-q_GBPVkjdMeKj_display: flex;
  --mixin-q_GBPVkjdMeKj_flex-direction: column;
  --mixin-q_GBPVkjdMeKj_align-items: stretch;
  --mixin-q_GBPVkjdMeKj_justify-content: flex-start;
  --mixin-q_GBPVkjdMeKj_list-style-position: outside;
  --mixin-q_GBPVkjdMeKj_padding-left: 40px;
  --mixin-q_GBPVkjdMeKj_position: relative;
  --mixin-q_GBPVkjdMeKj_list-style-type: disc;
  --mixin-q_GBPVkjdMeKj_white-space: pre-wrap;
  --mixin-jO0V1C_LbSGbx_display: flex;
  --mixin-jO0V1C_LbSGbx_flex-direction: column;
  --mixin-jO0V1C_LbSGbx_align-items: stretch;
  --mixin-jO0V1C_LbSGbx_justify-content: flex-start;
  --mixin-jO0V1C_LbSGbx_list-style-position: outside;
  --mixin-jO0V1C_LbSGbx_padding-left: 40px;
  --mixin-jO0V1C_LbSGbx_position: relative;
  --mixin-jO0V1C_LbSGbx_list-style-type: decimal;
  --mixin-jO0V1C_LbSGbx_white-space: pre-wrap;
  --mixin-AMOoJfuXN4IHA_color: #000000;
  --mixin-AMOoJfuXN4IHA_font-size: 20px;
  --mixin-AMOoJfuXN4IHA_font-weight: 600;
  --mixin-AMOoJfuXN4IHA_letter-spacing: -0.3px;
  --mixin-AMOoJfuXN4IHA_line-height: 1.5;
  --mixin-AMOoJfuXN4IHA_white-space: pre-wrap;
  --mixin-Z-6m5_Ctddd3O_color: #000000;
  --mixin-Z-6m5_Ctddd3O_font-size: 16px;
  --mixin-Z-6m5_Ctddd3O_font-weight: 600;
  --mixin-Z-6m5_Ctddd3O_line-height: 1.5;
  --mixin-Z-6m5_Ctddd3O_white-space: pre-wrap;
  --mixin-YuN35d3YOBDQP_color: #3291ff;
  --mixin-YuN35d3YOBDQP_white-space: pre-wrap;
  --mixin-j0kbJIgt7OnfF_white-space: pre-wrap;
  --mixin-5rcMKnKOUIZ-v_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4BGQ9wI3QTtE_font-family);
  font-size: var(--mixin-4BGQ9wI3QTtE_font-size);
  font-weight: var(--mixin-4BGQ9wI3QTtE_font-weight);
  font-style: var(--mixin-4BGQ9wI3QTtE_font-style);
  color: var(--mixin-4BGQ9wI3QTtE_color);
  text-align: var(--mixin-4BGQ9wI3QTtE_text-align);
  text-transform: var(--mixin-4BGQ9wI3QTtE_text-transform);
  line-height: var(--mixin-4BGQ9wI3QTtE_line-height);
  letter-spacing: var(--mixin-4BGQ9wI3QTtE_letter-spacing);
  white-space: var(--mixin-4BGQ9wI3QTtE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-rxILoCku14-w_color);
  font-weight: var(--mixin-rxILoCku14-w_font-weight);
  font-size: var(--mixin-rxILoCku14-w_font-size);
  line-height: var(--mixin-rxILoCku14-w_line-height);
  letter-spacing: var(--mixin-rxILoCku14-w_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-lNO_6HM2HBXQ_color);
  font-size: var(--mixin-lNO_6HM2HBXQ_font-size);
  font-weight: var(--mixin-lNO_6HM2HBXQ_font-weight);
  letter-spacing: var(--mixin-lNO_6HM2HBXQ_letter-spacing);
  line-height: var(--mixin-lNO_6HM2HBXQ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-5CCLiyXLA4OR_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-kjXEQibJtkgl_color);
  font-size: var(--mixin-kjXEQibJtkgl_font-size);
  font-weight: var(--mixin-kjXEQibJtkgl_font-weight);
  letter-spacing: var(--mixin-kjXEQibJtkgl_letter-spacing);
  line-height: var(--mixin-kjXEQibJtkgl_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JmWEW0i1FJeW_color);
  font-size: var(--mixin-JmWEW0i1FJeW_font-size);
  font-weight: var(--mixin-JmWEW0i1FJeW_font-weight);
  letter-spacing: var(--mixin-JmWEW0i1FJeW_letter-spacing);
  line-height: var(--mixin-JmWEW0i1FJeW_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0rBvWRStTLML_font-family);
  border-radius: var(--mixin-0rBvWRStTLML_border-top-left-radius)
    var(--mixin-0rBvWRStTLML_border-top-right-radius)
    var(--mixin-0rBvWRStTLML_border-bottom-right-radius)
    var(--mixin-0rBvWRStTLML_border-bottom-left-radius);
  padding: var(--mixin-0rBvWRStTLML_padding-top)
    var(--mixin-0rBvWRStTLML_padding-right)
    var(--mixin-0rBvWRStTLML_padding-bottom)
    var(--mixin-0rBvWRStTLML_padding-left);
  border-top: var(--mixin-0rBvWRStTLML_border-top-width)
    var(--mixin-0rBvWRStTLML_border-top-style)
    var(--mixin-0rBvWRStTLML_border-top-color);
  border-right: var(--mixin-0rBvWRStTLML_border-right-width)
    var(--mixin-0rBvWRStTLML_border-right-style)
    var(--mixin-0rBvWRStTLML_border-right-color);
  border-bottom: var(--mixin-0rBvWRStTLML_border-bottom-width)
    var(--mixin-0rBvWRStTLML_border-bottom-style)
    var(--mixin-0rBvWRStTLML_border-bottom-color);
  border-left: var(--mixin-0rBvWRStTLML_border-left-width)
    var(--mixin-0rBvWRStTLML_border-left-style)
    var(--mixin-0rBvWRStTLML_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5OYihAxQnj1C_color);
  padding-left: var(--mixin-5OYihAxQnj1C_padding-left);
  border-left: var(--mixin-5OYihAxQnj1C_border-left-width)
    var(--mixin-5OYihAxQnj1C_border-left-style)
    var(--mixin-5OYihAxQnj1C_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pB2Ojj9em3b5_font-family);
  border-radius: var(--mixin-pB2Ojj9em3b5_border-top-left-radius)
    var(--mixin-pB2Ojj9em3b5_border-top-right-radius)
    var(--mixin-pB2Ojj9em3b5_border-bottom-right-radius)
    var(--mixin-pB2Ojj9em3b5_border-bottom-left-radius);
  padding: var(--mixin-pB2Ojj9em3b5_padding-top)
    var(--mixin-pB2Ojj9em3b5_padding-right)
    var(--mixin-pB2Ojj9em3b5_padding-bottom)
    var(--mixin-pB2Ojj9em3b5_padding-left);
  border-top: var(--mixin-pB2Ojj9em3b5_border-top-width)
    var(--mixin-pB2Ojj9em3b5_border-top-style)
    var(--mixin-pB2Ojj9em3b5_border-top-color);
  border-right: var(--mixin-pB2Ojj9em3b5_border-right-width)
    var(--mixin-pB2Ojj9em3b5_border-right-style)
    var(--mixin-pB2Ojj9em3b5_border-right-color);
  border-bottom: var(--mixin-pB2Ojj9em3b5_border-bottom-width)
    var(--mixin-pB2Ojj9em3b5_border-bottom-style)
    var(--mixin-pB2Ojj9em3b5_border-bottom-color);
  border-left: var(--mixin-pB2Ojj9em3b5_border-left-width)
    var(--mixin-pB2Ojj9em3b5_border-left-style)
    var(--mixin-pB2Ojj9em3b5_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-q_GBPVkjdMeKj_display);
  flex-direction: var(--mixin-q_GBPVkjdMeKj_flex-direction);
  align-items: var(--mixin-q_GBPVkjdMeKj_align-items);
  justify-content: var(--mixin-q_GBPVkjdMeKj_justify-content);
  list-style-position: var(--mixin-q_GBPVkjdMeKj_list-style-position);
  padding-left: var(--mixin-q_GBPVkjdMeKj_padding-left);
  position: var(--mixin-q_GBPVkjdMeKj_position);
  list-style-type: var(--mixin-q_GBPVkjdMeKj_list-style-type);
  flex-column-gap: var(--mixin-q_GBPVkjdMeKj_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-jO0V1C_LbSGbx_display);
  flex-direction: var(--mixin-jO0V1C_LbSGbx_flex-direction);
  align-items: var(--mixin-jO0V1C_LbSGbx_align-items);
  justify-content: var(--mixin-jO0V1C_LbSGbx_justify-content);
  list-style-position: var(--mixin-jO0V1C_LbSGbx_list-style-position);
  padding-left: var(--mixin-jO0V1C_LbSGbx_padding-left);
  position: var(--mixin-jO0V1C_LbSGbx_position);
  list-style-type: var(--mixin-jO0V1C_LbSGbx_list-style-type);
  flex-column-gap: var(--mixin-jO0V1C_LbSGbx_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-AMOoJfuXN4IHA_color);
  font-size: var(--mixin-AMOoJfuXN4IHA_font-size);
  font-weight: var(--mixin-AMOoJfuXN4IHA_font-weight);
  letter-spacing: var(--mixin-AMOoJfuXN4IHA_letter-spacing);
  line-height: var(--mixin-AMOoJfuXN4IHA_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Z-6m5_Ctddd3O_color);
  font-size: var(--mixin-Z-6m5_Ctddd3O_font-size);
  font-weight: var(--mixin-Z-6m5_Ctddd3O_font-weight);
  line-height: var(--mixin-Z-6m5_Ctddd3O_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-YuN35d3YOBDQP_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
