.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  font-size: 48px;
  letter-spacing: 0px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kWhil {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__kWhil > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 54px);
  width: calc(100% + 54px);
}
.freeBox__kWhil > :global(.__wab_flex-container) > *,
.freeBox__kWhil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kWhil > :global(.__wab_flex-container) > picture > img,
.freeBox__kWhil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 54px;
}
.selectable:global(.__wab_instance) {
  position: relative;
  width: auto;
  height: auto;
}
.avatar:global(.__wab_instance) {
  position: relative;
  margin-left: 0px;
}
.freeBox__vIvig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 240px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__vIvig > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vIvig > :global(.__wab_flex-container) > *,
.freeBox__vIvig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vIvig > :global(.__wab_flex-container) > picture > img,
.freeBox__vIvig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.field__nvXv0:global(.__wab_instance) {
  position: relative;
}
.switch2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.field__vtYfL:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 205px;
  height: auto;
}
.field__f8Jn:global(.__wab_instance) {
  position: relative;
}
.size:global(.__wab_instance) {
  max-width: 100%;
  width: 205px;
  height: auto;
}
.field__viEPu:global(.__wab_instance) {
  position: relative;
}
.src:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fwHdH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vlIMy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.field__zaXw9:global(.__wab_instance) {
  position: relative;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
